@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

#wrap {
    background-color: #f1f1f1;
    color: #2a2a2a;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    height: 100vh;

}

.inner_size {
    margin: 0 auto;
    width: 1400px; height:100%;

}

header {
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
}
header .header_m {
    position: relative;
    display: flex;
    align-items: center;

}
header .header_m h1 {
    padding: 3px;
}
header .header_m .loginAndjoin {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
   
}
header .header_m .loginAndjoin a {
    font-size: 16px;
    font-weight: 500;
}
header .header_m .loginAndjoin .login {
    margin-right: 10px;
}
main {
    position: relative;
    padding: 50px 0;
}


.application_wrap{
    position: relative;
    margin: 0 auto ;
    width: 1400px;
}
.application_wrap .title {
    background-color: #fff;
    position: absolute;
    padding: 20px 0 0 20px;
    font-weight: 500;
    font-size: 30px;
    z-index: 100;
    border-radius: 20px 70px 0 0;
    width: 750px; height: 80px;
}
.application_wrap .menu {
    position: absolute;
    top: 0px;
    background-color: #2a2a2a;
    border-radius: 30px 20px 0 0;
    line-height: 80px;
    width: 1400px; height: 80px;
}
.application_wrap .menu ul {
    position: absolute;
    right: 100px;
    display: flex;
}
.application_wrap .menu ul li {
    position: relative;
    color: #fff;
    margin: 0 30px;
}
.application_wrap .menu ul li a {}
.application_wrap .menu ul li .line{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #fff;
    width: 100%; height: 2px;
}
.application_wrap .menu ul li .line1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #fff;
    transition: all 0.3s;
    width: 0; height: 2px;
}

.application_wrap .menu ul li:hover .line1 {
    width: 100%;
}

.application_wrap .application_mg{
    background-color: #fff;
    padding-top: 75px;
    width: 100%; height: 800px;
    z-index:10;
    border-radius: 0 20px 20px 20px;
}
.application_wrap .application_mg .check_box {
	cursor: pointer;
	position: absolute;
	top: 145px;
	left: 55px;
	z-index:10;
	display:flex;
}.application_wrap .application_mg .check_box .c1 {
	line-height:30px;
	hegiht:30px
}
.application_wrap .application_mg .check_box .selectDelete {
	position: absolute;
	top:0;
	left:75px;
	font-size:13px;
	cursor: pointer;
	width:60px; height:30px;
}
.application_wrap .application_mg .application_search {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
}
.application_wrap .break_mg .application_search .search_input{
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding-left: 20px;
    width: 300px; height: 40px;
}
.application_wrap .application_mg .application_search .searchbtn{
    background-color: #eeeeee;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border: 1px solid #eee;
    cursor: pointer;
    width: 50px; height: 40px;
}

.application_wrap .application_mg .table_box {
    position: absolute;
    top: 120px;
    width: 100%;
}
.application_wrap .application_mg .table_box table {
    margin: 60px auto;
    width: 95%;
}
.application_wrap .application_mg .table_box table thead {
    background-color: #fff;
    line-height: 60px;
    font-size: 16px;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #ebebeb;
    height: 60px;
}
.application_wrap .application_mg .table_box table thead tr th {
    text-align: center;
    padding-left: 10px;
}
.application_wrap .application_mg .table_box table tbody {
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    font-weight: 300;
    width: 100%; height: 45px;
}
.application_wrap .application_mg .table_box table tbody tr {
    border-bottom: 1px solid #f1f1f1;
    
}

.application_wrap .application_mg .table_box table tbody tr td {
    padding-left: 10px;
    text-align: center;
}

.s1 {
    font-weight: 500;
    color: #750a0a;
}

.comreg {
	font-weight: 500;
}

.resig {
	font-weight: 500;
	color: #b61313;
}

.paging_box {
	position: absolute;
	bottom:50px;
	left:50%;
	margin:0;
	padding:0;
	transform: translateX(-50%);
	text-align: center;
}
.paging_box span{
	display: inline_block;
	text-align: center;
	padding: 0 5px;
}
.paging_box span a {
	display: inline_block;
	padding: 0 3px;
}
.paging_box .numPadding {
	padding:0 7px;
}
.noData {
	display: none;
	position: absolute;
	bottom:50%;
	left:50%;
	transform: translateX(-50%);
}
.on{
	display: block;
}


