@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

#wrap {
    background-color: #f1f1f1;
    color: #2a2a2a;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 1920px; height: 100vh;

}

.inner_size {
    margin: 0 auto;
    width: 1200px; height:100%;

}

header {
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
}
header .header_m {
    position: relative;
    display: flex;
    align-items: center;

}
header .header_m h1 {
    align-items: center;
    display: flex;
}
header .header_m h1 .link {
	display:flex;
    padding-top: 13px;
    margin-right: 10px;
    height: 50px;
}
header .header_m h1 .link .img {
  
    width: 30px; height: 30px;
}
header .header_m h1 .link .img img {
    width: 100%; height: 100%;
}
header .header_m .loginAndjoin {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
   
}
header .header_m .loginAndjoin a {
    font-size: 16px;
    font-weight: 500;
}
header .header_m .loginAndjoin .login {
    margin-right: 10px;
}
main .inner_size {
    margin: 0 auto;
    width: 1000px; height:100%;

}
main {
    margin: 70px auto 0;
    width: 100%; height: 750px;
}
main .content {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    width: 100%; height: 100%;
}
main .content .border_h {
    
    border-radius: 50px 50px 0 0;
    width: 100%; height: 70px;
}
main .content .border_h .title {
    color: #2a2a2a;
    padding-left: 300px;
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
}
main .content .my {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    width: 25%; height: 100%;
}
main .content .right_border {
 
}

main .content .my .myprofile {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    width: 150px; height: 150px;
}

main .content .my .myprofile .picture {
    width: 150px; height: 150px;
}

main .content .my .myprofile .picture .img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    width: 100%; height: 100%;
}

main .content .my .myprofile .picture .img img{
    width: 100%; height: 100%;
}
main .content .my .myname {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    color: #fff;
}
main .content .my .myname input {
	background-color:#2a2a2a;
	text-align:center;
	
}

main .content .input_wrap {
    background-color: #fff;
    font-size: 17px;
    margin-left: 31%;
    width: 80%; height: 680px;
}

main .content .input_wrap {}
main .content .input_wrap .c1 {
    display: inline-block;
    background-color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    width: 80px; height: 40px;
}
main .content .input_wrap .t1 {
    font-weight: 500;
}
main .content .input_wrap .positionId {
    line-height: 70px;
    height: 70px;
}
main .content .input_wrap .employeeName {
    display: flex;
    line-height: 70px;
    height: 70px;
}
main .content .input_wrap .employeeName .e1{}
main .content .input_wrap .employeeName .e1 input{

}
.c1 input {
 	background-color: transparent;
 	text-align: center;
 	padding-bottom: 5px;
	width: 80px; height:45px;
}
main .content .input_wrap .employeeName .e2 {
    margin-left: 20px;
}
main .content .input_wrap .status {
    display: flex;
    line-height: 70px;
    height: 70px;
}
main .content .input_wrap .status #statusId {
    background-color: #f1f1f1;
    padding-left: 15px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 30px;
    width: 100px; height: 40px;
}

main .content .input_wrap .applicationDate {
    display: flex;
    line-height: 50px;
    height: 50px;
}
main .content .input_wrap .applicationDate input {
    background-color: #f1f1f1;
    margin-left: 20px;
    padding: 0px 20px;
    border-radius: 60px;
    font-size: 14px;
    padding-bottom: 3px;
    font-weight: 500;
    height: 40px;
}
main .content .input_wrap .applicationDate .a2 {
    margin-left: 50px;
}
main .content .input_wrap .emergency {
    display: flex;
    margin-top: 10px;
    line-height: 60px;
    height: 60px;
}
main .content .input_wrap .emergency input{
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    background-color: #f1f1f1;
    width: 200px;
}
main .content .input_wrap .reason {}
main .content .input_wrap .reason div {
    padding-bottom: 10px;
}
main .content .input_wrap .reason textarea {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    font-size: 14px;
    width: 55%; height: 230px;
}
main .content .input_wrap .btn_box {
    position: absolute;
    bottom: 10px;
    left: 750px;
    display: flex;
}
main .content .input_wrap .btn_box > div {
    cursor: pointer;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    width: 100px; height: 50px;
}
main .content .input_wrap .btn_box .application_btn {
    margin-right: 5px;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    width: 100px; height: 50px;
}
main .content .input_wrap .btn_box .application_btn a {
	display:block;
	width:100%; height:100%;
}
