<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<!-- 회원가입 -->
	<insert id="employeeJoin" >
		insert into
			employee
		(
			employeeId,
			employeePw,
			employeeName,
			employeeMail,
			employeeBirthday1,
			employeeBirthday2,
			employeeBirthday3,
			employeeGender,
			employeePhone,
			employeeAddr1,
			employeeAddr2,
			employeeAddr3,
			salary,
			bonusPercent,
			departmentId,
			positionId,
			statusId,
			adminCk,
			login_appr,
			fileName,
			uploadPath,
			uuid,
			regdate

		)
		
		values
		(
			#{employeeId},
			#{employeePw},
			#{employeeName},
			#{employeeMail},
			#{employeeBirthday1},
			#{employeeBirthday2},
			#{employeeBirthday3},
			#{employeeGender},
			#{employeePhone},
			#{employeeAddr1},
			#{employeeAddr2},
			#{employeeAddr3},
			0,
			0,
			"D00",
			"P00",
			"00",
			0,
			0,
			null,
			null,
			null,
			sysdate()
		)
	</insert>
	
	<!-- 아이디중복체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from employee
		where employeeId = #{employeeId}
	</select>
	
	<!-- 로그인 -->
	<select id="employeeLogin" resultType="com.study.demo.vo.employeeVO">
		select
			*
		from 
			employee
		where
			employeeId = #{employeeId}
	</select>
	
	<update id="profileImgData" parameterType="com.study.demo.vo.employeeVO">
		update employee set
			profileName = #{profileName} ,
			profileLoadPath = #{profileLoadPath},
			profileUuid = #{profileUuid}
		where 
			employeeId = #{employeeId}
	</update>
	
	<select id="profileImage" resultType="com.study.demo.vo.employeeVO">
		select
			profileName,
			profileLoadPath,
			profileUuid
		from 
			employee
		where
			employeeId = #{employeeId}
	</select>
	
	<update id="imgDatadelete" parameterType="com.study.demo.vo.employeeVO">
		update employee set
			profileName = null ,
			profileLoadPath = null,
			profileUuid = null
		where 
			employeeId = #{employeeId}
	</update>
	
	<select id="searchId" resultType="com.study.demo.vo.employeeVO">
		select 
			employeeId
		from
			employee
		where
			employeeName = #{employeeName}
		and
			employeePhone = #{employeePhone}
		and 
			employeeMail = #{employeeMail}
	</select>
	
	<select id="searchPw" resultType="com.study.demo.vo.employeeVO">
		select 
			employeeId
		from
			employee
		where
			employeeId = #{employeeId}
		and
			employeeName = #{employeeName}
		and
			employeePhone = #{employeePhone}
		and 
			employeeMail = #{employeeMail}
	</select>
	
	<update id="searchPwUpdate" parameterType="com.study.demo.vo.employeeVO">
		update employee set
			employeePw = #{employeePw}
		where 
			employeeId = #{employeeId}
		and
			employeeName = #{employeeName}
		and
			employeePhone = #{employeePhone}
		and 
			employeeMail = #{employeeMail}
	</update>
	
	<select id="mypwck" resultType="com.study.demo.vo.employeeVO">
		select
			*
		from
			employee
		where
			employeeId = #{employeeId}
	</select>
	
	<update id="mypwch" parameterType="com.study.demo.vo.employeeVO">
		update employee set
			employeePw = #{employeePw}
		where 
			employeeId = #{employeeId}
		and
			employeeName = #{employeeName}
		and
			employeePhone = #{employeePhone}
		and 
			employeeMail = #{employeeMail}
	</update>
</mapper>